html{
    font-family: Jost;
}

.nav{
    width: 20vw;
    height: 150vh;
    border-right: 1px dashed #333;
}

ul p{
    justify-content: center;
    font-size: 2vw;
    margin-left: 5vw;
    margin-top: -90px;
}


ul.nav{
    margin-top: 120px;
    display: block;
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
ul.nav a {
    transition: 1s;
    font-size: 1vw ;
    max-width: 10vw;
    display: block;
    height: 100%;
    padding:3vw;
    margin: 0 5px;
    background-color: #fffbfb;
    text-decoration: none;
    color: #333;
    text-align: center;
}
ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}










